<div class="survey-module">
  <div class="col-xs-4" ng-repeat="(label, count) in surveyComp.genders.counts">
    <h2>{{label.toUpperCase()}}</h2>
    <h1 class="fa fa-5x" ng-class="surveyComp.genders.fontAwesomeClass[label]"></h1>
    <h4 ng-class="{green: surveyComp.genders.maxClass[label], red: surveyComp.genders.minClass[label]}">
      {{surveyComp.genders.percentages[label]}}%
    </h4>
    <button class="btn btn-success green-gradient" ng-click="surveyComp.vote(label)"><span class="fa fa-check"></span> Vote</button>
  </div>
</div>
